body {
    color: #fff;
}

a {
    color: #fff;
text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
align-items: flex-start;
}

.box {
    display: block;
    justify-content: flex-start;
    width: 170px;
    line-height: 30px;
    margin: 10px;
    font-family: "verdana";
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
  
}

.primeira {
background-color: rgb(0, 0, 0);
}

.segunda {
background-color: rgb(0, 0, 0);

}

.terceira {
    background-color: black;
}


/*
@media (max-width: 700px) {
  body {
    background-color: blue;
  }
}
*/

